/*  apply a natural box layout model to all elements  */
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
	font-family: 'Montserrat', sans-serif;
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
    margin: 0 auto;



}


body{
    background-color: $bkgLight;

    header{
        height: 130px;
        background-image: url(../images/header.png);
        background-repeat: no-repeat;
        background-size: cover;
        color: $txtLight;
        
    }


    main{
        color: $txtDark;
        padding: $edge;

        ul{
            padding: 0.1rem $dblEdge $edge $dblEdge;
            margin-bottom: 2rem;    

        }

        div#yourFortune{
            margin: $dblEdge auto;
            min-height: 10rem;
        }

    }

    

 

    footer{
        background-color: $nav;
        color: $txtLight;
        text-align: center;

    }
}




//=======================COLUMN LAYOUT====================//

.row {
	clear: both;
}


@for $i from 1 through 12 { //i is the variable representing each row
	$w: ($i / 12) * 100%; //width of columns
	.small-#{$i} {
		width: $w; float: left;
	}
}
//======================= FOOTER LAYOUT ========================//



footer{
    text-align: center;
    padding: .75rem 2rem;
}


//======================== CLEARFIX ========================//
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}