/*  apply a natural box layout model to all elements  */
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
	font-family: 'Montserrat', sans-serif;
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
    margin: 0 auto;
    background-color: slategray;


    div.header-wrapper{
        background-color:$nav-dark;
        color: $txt-light;

        header{
            padding: 1rem .5rem;
            max-width: 64rem;
            margin: 0 auto;

        }


    }

    div.main-wrapper{
        margin: 0 auto;

        main{
            display: flex;
            flex-direction: column;
            -ms-flex-direction: row;

            background-color: #6A303B;
            color: $txt-light;
            // max-height: 100vh;
            min-height: 50rem;            
            max-width: 64rem;
            margin: 0 auto;


            ol{
                margin: 1.5rem auto .5rem auto;
            }

            div.chooseHotel{
                margin: 0 $dblEdge;

                ul{
                    list-style: none;

                    li{
                        background-color: $secondaryBkg;
                        padding: 1rem 1.5rem;
                        margin: .5rem $dblEdge;
                        width: 25rem;
                        border-radius: 25px;
                    }
                }


                a{
                    text-decoration: none;
                    color: #FFFFFA;
                }
            }

            div.hotelInfo{
                margin: 1.75rem $dblEdge;

                p{
                    background-color: $secondaryBkg;
                    width: 15rem;
                    margin-top: 1rem;
                    padding: 1rem 1.5rem 1rem 1rem;
                    border-radius: 25px;

                }

            }


        }
    }

    


    div.footer-wrapper{
        background-color: $nav-dark;
        color: $txt-light;
        height: 100%;
        
        
        footer{
            margin: 0 auto;
            max-width: 64rem;
            text-align: center;
            padding: .75rem 2rem;

            h6{
                margin: .5rem;
            }
        }
    }

    strong{
        color: goldenrod;
    }

}

//=======================COLUMN LAYOUT====================//

.row {
	clear: both;
}


@for $i from 1 through 12 { //i is the variable representing each row
	$w: ($i / 12) * 100%; //width of columns
	.small-#{$i} {
		width: $w; float: left;
	}
}
//======================= FOOTER LAYOUT ========================//






//======================== CLEARFIX ========================//
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}