/* CSS Document */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

h1 {
  font-size: 9.6rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 4.8rem;
}

h4 {
  font-size: 3.4rem;
}

h5 {
  font-size: 2.4rem;
}

h6 {
  font-size: 2rem;
}

sub .sub1 {
  font-size: 1.6rem;
}
sub .sub2 {
  font-size: 1.4rem;
}

p .body1 {
  font-size: 1.6rem;
}
p .body2 {
  font-size: 1.4rem;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0 auto;
}

body {
  display: grid;
  -ms-grid-rows: 0.5fr 5fr 1fr;
  grid-template-rows: 0.5fr 5fr 1fr;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer";
  background-color: #57735A;
}
body header {
  margin: 0 auto;
  background-image: url(../images/headerBkg.png);
  background-repeat: no-repeat;
  margin-bottom: 2rem;
  max-width: 1920px;
  height: 250px;
  color: #FAFAFF;
  box-shadow: 0 0.1rem 10px black;
}
body div.main-wrapper {
  background-color: #57735A;
}
body div.main-wrapper main {
  background-color: #F6f6f6;
  max-width: 120rem;
  margin: 0 4%;
  padding: 1.75rem 2.5rem;
  border-radius: 15px;
  box-shadow: 1px 0.5rem 10px #2a2a2a;
  display: grid;
  grid-template-columns: 3fr 1fr 2fr;
  -ms-grid-columns: 3fr 3fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "list blank result" "list blank result" "list blank error" "list blank error" "ul ul ul";
}
body div.main-wrapper main div#treeAdd {
  grid-area: list;
  grid-row: 1;
  -ms-grid-row: 1;
}
body div.main-wrapper main div#treeDelete {
  grid-area: list;
  grid-row: 2;
  -ms-grid-row: 2;
}
body div.main-wrapper main div#treeManip {
  grid-area: list;
  grid-row: 3;
  -ms-grid-row: 3;
}
body div.main-wrapper main div#treeGet {
  grid-area: list;
  grid-row: 4;
  -ms-grid-row: 4;
}
body div.main-wrapper main div#results {
  grid-area: result;
  grid-row: 1/span 2;
  -ms-grid-row-span: 2;
  -ms-grid-row: 1;
  background-color: #57735A;
  border-radius: 15px;
  box-shadow: 0 4px 10px #2a2a2a;
  padding: 2%;
  color: #FAFAFF;
}
body div.main-wrapper main div#errReport {
  grid-area: error;
  grid-row: 3/span 2;
  -ms-grid-row-span: 2;
  -ms-grid-row: 2;
  background-color: #57735A;
  border-radius: 15px;
  box-shadow: 0 4px 10px #2a2a2a;
  padding: 2%;
  color: #FAFAFF;
}
body div.main-wrapper main div#treeAdd, body div.main-wrapper main div#treeDelete, body div.main-wrapper main div#treeManip, body div.main-wrapper main div#treeGet, body div.main-wrapper main div#errReport, body div.main-wrapper main div#results {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}
body div.main-wrapper main div#treeAdd button, body div.main-wrapper main div#treeDelete button, body div.main-wrapper main div#treeManip button, body div.main-wrapper main div#treeGet button, body div.main-wrapper main div#errReport button, body div.main-wrapper main div#results button {
  max-width: 25rem;
  margin: 0.5rem 0;
}
body div.main-wrapper main div#iLearned {
  grid-area: ul;
  grid-row: 5;
  -ms-grid-row: 5;
  grid-column: 1/span 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  border-radius: 15px;
  box-shadow: 0 4px 10px #2a2a2a;
  padding: 2%;
  color: #FAFAFF;
  margin-top: 0.5rem;
  background-color: #57735A;
}
body div.main-wrapper main div#iLearned ul {
  margin: 2rem;
  font-size: 150%;
}
body div.main-wrapper main div#iLearned ul li {
  font-size: 75%;
}
body div.footer-wrapper footer {
  text-align: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (min-width: 1140px) {
  div.main-wrapper {
    margin: 0 auto;
  }
}
input {
  padding: 0.8rem 2rem;
  border-radius: 10px;
  border-style: solid;
  border-color: #57735A;
  box-shadow: 0 0.5px 2px black;
}

button {
  padding: 0.75rem 2rem;
  border-radius: 10px;
  border-style: none;
  box-shadow: 0px 2px 2px black;
  font-size: 1.4rem;
  background-color: #3d364b;
  color: #FAFAFF;
  transition: 0.4s;
}

button:hover {
  background-color: #615677;
}

/*# sourceMappingURL=main.css.map */
