//Colors: 

$primaryBkg: #5D917D;
$secondaryBkg: #36362B;
$link-light: #FFFFFA;
$link-dark: #656C73;

//fontsizes: 
$defaultFontSize: 62.5%;

$h1: 4.2em;
$h2: 3.6em;
$h3: 2.8em;
$h4: 2.4em;
$h5: 1.8em;
$p: 1.6em;


h1{
    font-size: $h1;
}
h2{
    font-size: $h2;
}
h3{
    font-size: $h3;
}
h4{
    font-size: $h4;
}
h5{
    font-size: $h5;
}
ul, p{
font-size: $p;
}



