/* CSS Document */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

h1 {
  font-size: 4.2em;
}

h2 {
  font-size: 3.6em;
}

h3 {
  font-size: 2.8em;
}

h4 {
  font-size: 2.4em;
}

h5 {
  font-size: 1.8em;
}

ul {
  font-size: 1.6em;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0 auto;
  background-color: #3D606E;
}

header {
  height: 130px;
  background-image: url(../images/randnum_header_1920.jpg);
  background-repeat: no-repeat;
  color: #FFFFFA;
}

main {
  padding: 2%;
}

.row {
  clear: both;
}

.small-1 {
  width: 8.3333333333%;
  float: left;
}

.small-2 {
  width: 16.6666666667%;
  float: left;
}

.small-3 {
  width: 25%;
  float: left;
}

.small-4 {
  width: 33.3333333333%;
  float: left;
}

.small-5 {
  width: 41.6666666667%;
  float: left;
}

.small-6 {
  width: 50%;
  float: left;
}

.small-7 {
  width: 58.3333333333%;
  float: left;
}

.small-8 {
  width: 66.6666666667%;
  float: left;
}

.small-9 {
  width: 75%;
  float: left;
}

.small-10 {
  width: 83.3333333333%;
  float: left;
}

.small-11 {
  width: 91.6666666667%;
  float: left;
}

.small-12 {
  width: 100%;
  float: left;
}

div.footer-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
div.footer-wrapper footer {
  color: #FFFFFA;
  background-color: #183441;
  height: 50px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (min-width: 560px) {
  .medium-1 {
    width: 8.3333333333%;
    float: left;
  }

  .medium-2 {
    width: 16.6666666667%;
    float: left;
  }

  .medium-3 {
    width: 25%;
    float: left;
  }

  .medium-4 {
    width: 33.3333333333%;
    float: left;
  }

  .medium-5 {
    width: 41.6666666667%;
    float: left;
  }

  .medium-6 {
    width: 50%;
    float: left;
  }

  .medium-7 {
    width: 58.3333333333%;
    float: left;
  }

  .medium-8 {
    width: 66.6666666667%;
    float: left;
  }

  .medium-9 {
    width: 75%;
    float: left;
  }

  .medium-10 {
    width: 83.3333333333%;
    float: left;
  }

  .medium-11 {
    width: 91.6666666667%;
    float: left;
  }

  .medium-12 {
    width: 100%;
    float: left;
  }
}
@media only screen and (min-width: 1140px) {
  .large-1 {
    width: 8.3333333333%;
    float: left;
  }

  .large-2 {
    width: 16.6666666667%;
    float: left;
  }

  .large-3 {
    width: 25%;
    float: left;
  }

  .large-4 {
    width: 33.3333333333%;
    float: left;
  }

  .large-5 {
    width: 41.6666666667%;
    float: left;
  }

  .large-6 {
    width: 50%;
    float: left;
  }

  .large-7 {
    width: 58.3333333333%;
    float: left;
  }

  .large-8 {
    width: 66.6666666667%;
    float: left;
  }

  .large-9 {
    width: 75%;
    float: left;
  }

  .large-10 {
    width: 83.3333333333%;
    float: left;
  }

  .large-11 {
    width: 91.6666666667%;
    float: left;
  }

  .large-12 {
    width: 100%;
    float: left;
  }
}
input {
  padding: 0.8rem 2rem;
  border-radius: 10px;
  border-style: solid;
  border-color: #3D606E;
  box-shadow: 0 0.5px 2px black;
}

button {
  padding: 0.75rem 2rem;
  border-radius: 10px;
  border-style: none;
  box-shadow: 0px 2px 2px black;
  font-size: 1.8em;
  background-color: #3D606E;
  color: #212121;
  transition: 0.4s;
}

button:hover {
  background-color: #2b434d;
}

/*# sourceMappingURL=main.css.map */
