/*  apply a natural box layout model to all elements  */
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
	font-family: 'Montserrat', sans-serif;
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
    margin: 0 auto;
    background-color: $darkBkg;
}

div.header-wrapper{
    margin: 0 auto;


    header{

        height: 130px;
        background-image: url(../images/randnum_header_1920.jpg);
        background-repeat: no-repeat;
        color: $text-light;
        box-shadow: 0 4px 10px black;

    
    
    }
}


main{
    margin: 3rem auto;
    padding: 0 $edge;
    height: 40rem;
    max-height: 42rem;


    div#ribbon{
        img{
            max-height: 5rem;
            max-width:5rem;
        }
    }


}




//=======================COLUMN LAYOUT====================//

.row {
	clear: both;
}


@for $i from 1 through 12 { //i is the variable representing each row
	$w: ($i / 12) * 100%; //width of columns
	.small-#{$i} {
		width: $w; float: left;
	}
}
//======================= FOOTER LAYOUT ========================//

div.footer-wrapper{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    background-color:$nav;

    
    footer{
        color: $text-light;
        height: 60px;
        text-align: center;
        padding: 1rem;
        width: 100%;

        a{
            text-decoration: none;
            color: $text-light;
        }

    }


}




//======================== CLEARFIX ========================//
.clearfix::after {
    content: "";
    clear: both;
    display: table;

}