/* CSS Document */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

h1 {
  font-size: 9.6rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 4.8rem;
}

h4 {
  font-size: 3.4rem;
}

h5 {
  font-size: 2.4rem;
}

h6 {
  font-size: 2rem;
}

sub .sub1 {
  font-size: 1.6rem;
}
sub .sub2 {
  font-size: 1.4rem;
}

p .body1 {
  font-size: 1.6rem;
}
p .body2 {
  font-size: 1.4rem;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0 auto;
  background-color: slategray;
}
html div.header-wrapper {
  background-color: red;
}
html div.header-wrapper header {
  padding: 1rem 0.5rem;
  max-width: 64rem;
  margin: 0 auto;
}
html div.main-wrapper {
  margin: 0 auto;
}
html div.main-wrapper main {
  display: flex;
  flex-direction: column;
  -ms-flex-direction: row;
  background-color: pink;
  max-height: 100vh;
  min-height: 48rem;
  max-width: 64rem;
  margin: 0 auto;
}
html div.main-wrapper main ol {
  margin: 1.5rem auto 0.5rem auto;
}
html div.form-wrapper {
  border: 1px white dotted;
  margin: 0 1rem;
}
html div.form-wrapper form {
  display: flex;
  justify-content: space-around;
}
html div.form-wrapper form label {
  display: block;
  font-size: 1.6rem;
  margin: 0.75rem 0;
}
html div.form-wrapper form input {
  height: 8rem;
  width: auto;
  margin: 0.25rem auto 2rem auto;
}
html div.form-wrapper button {
  margin: 2rem 2rem 2rem 3rem;
  color: #FFFFFA;
}

.row {
  clear: both;
}

.small-1 {
  width: 8.3333333333%;
  float: left;
}

.small-2 {
  width: 16.6666666667%;
  float: left;
}

.small-3 {
  width: 25%;
  float: left;
}

.small-4 {
  width: 33.3333333333%;
  float: left;
}

.small-5 {
  width: 41.6666666667%;
  float: left;
}

.small-6 {
  width: 50%;
  float: left;
}

.small-7 {
  width: 58.3333333333%;
  float: left;
}

.small-8 {
  width: 66.6666666667%;
  float: left;
}

.small-9 {
  width: 75%;
  float: left;
}

.small-10 {
  width: 83.3333333333%;
  float: left;
}

.small-11 {
  width: 91.6666666667%;
  float: left;
}

.small-12 {
  width: 100%;
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (min-width: 560px) {
  .medium-1 {
    width: 8.3333333333%;
    float: left;
  }

  .medium-2 {
    width: 16.6666666667%;
    float: left;
  }

  .medium-3 {
    width: 25%;
    float: left;
  }

  .medium-4 {
    width: 33.3333333333%;
    float: left;
  }

  .medium-5 {
    width: 41.6666666667%;
    float: left;
  }

  .medium-6 {
    width: 50%;
    float: left;
  }

  .medium-7 {
    width: 58.3333333333%;
    float: left;
  }

  .medium-8 {
    width: 66.6666666667%;
    float: left;
  }

  .medium-9 {
    width: 75%;
    float: left;
  }

  .medium-10 {
    width: 83.3333333333%;
    float: left;
  }

  .medium-11 {
    width: 91.6666666667%;
    float: left;
  }

  .medium-12 {
    width: 100%;
    float: left;
  }
}
@media only screen and (min-width: 1140px) {
  body main ol {
    margin-top: 2rem;
    font-size: 2.4rem;
  }
  body main ol li {
    font-size: 1.45rem;
  }
  body main ol :last-child {
    margin-bottom: 2rem;
  }
  body main div#txtNoun {
    resize: both;
  }

  .large-1 {
    width: 8.3333333333%;
    float: left;
  }

  .large-2 {
    width: 16.6666666667%;
    float: left;
  }

  .large-3 {
    width: 25%;
    float: left;
  }

  .large-4 {
    width: 33.3333333333%;
    float: left;
  }

  .large-5 {
    width: 41.6666666667%;
    float: left;
  }

  .large-6 {
    width: 50%;
    float: left;
  }

  .large-7 {
    width: 58.3333333333%;
    float: left;
  }

  .large-8 {
    width: 66.6666666667%;
    float: left;
  }

  .large-9 {
    width: 75%;
    float: left;
  }

  .large-10 {
    width: 83.3333333333%;
    float: left;
  }

  .large-11 {
    width: 91.6666666667%;
    float: left;
  }

  .large-12 {
    width: 100%;
    float: left;
  }
}
input {
  padding: 0.8rem 2rem;
  border-radius: 10px;
  border-style: solid;
  border-color: #274659;
  box-shadow: 0 0.5px 2px black;
}

button {
  padding: 0.75rem 2rem;
  border-radius: 10px;
  border-style: none;
  box-shadow: 0px 2px 2px black;
  font-size: 2.4rem;
  background-color: #798BF2;
  color: #324016;
  transition: 0.4s;
}

button:hover {
  background-color: #4b63ed;
}

/*# sourceMappingURL=main.css.map */
